node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn
.env*
.git
.gitignore
coverage/
.nyc_output
.cache
dist/
build/
*.log
docs/
notebooks/
tests/
training/
data/
saved_models/
.streamlit/
backend/
py_service/
models/